.card {
  align-items: center;
  background-color: var(--white);
  border: .0625rem solid var(--gray);
  border-radius: .25rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 1rem;
}

.title {
  font-size: .75rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* dark mode */

.dark {
  background-color: var(--dark);
  color: var(--white);
  border-color: var(--dark);
}